p {
    font-size: 2em;
}


/**
 * formatação do menu
 */
 #menu ul {
     padding:0px;
     margin:0px;
     background-color:#EDEDED;
     list-style:none;
 }

 /**
  * deixando opções em linha horizontal com display: inline;
  */
#menu ul li { display: inline; }

/**
 * definindo visual do menu
 */
 #menu ul li a {
     padding: 2px 10px;
     display: inline-block;
     transition: background-color 1s , color 1s , border-bottom 1s;
     transition-timing-function: ease-out;

     /* visual do link */
     background-color:#EDEDED;
     color: #333;
     text-decoration: none;
     border-bottom:3px solid #EDEDED;
 }

/**
 * colocando efeitos do mouse
 */
 #menu ul li a:hover {
     background-color:#D6D6D6;
     color: #6D6D6D;
     border-bottom:3px solid #EA0000;
 }
